In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("final.csv")

In [28]:
df.head()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,0,0,0,0,0,0,0,0,150000.0
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,0,0,0,0,0,0,0,0,40000.0
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,1,0,0,0,0,0,0,0,inf
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,1,0,0,0,0,0,0,0,inf
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,1,1,0,0,0,0,0,0,inf

In [5]:
#df = df.drop(columns=["Unnamed: 0"])

In [6]:
df.to_csv("final.csv", index=False)

In [7]:
df = pd.read_csv("final.csv")

In [29]:
df.head()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,0,0,0,0,0,0,0,0,150000.0
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,0,0,0,0,0,0,0,0,40000.0
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,1,0,0,0,0,0,0,0,inf
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,1,0,0,0,0,0,0,0,inf
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,1,1,0,0,0,0,0,0,inf

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Card Name                      282 non-null    object
 1   Minimum Salaried Income        282 non-null    int64
 2   Minimum ITR for Self Employed  282 non-null    int64
 3   Joining Fee                    282 non-null    int64
 4   Renewal Fee                    282 non-null    int64
 5   Best Suited For                277 non-null    object
 6   Reward Type                    277 non-null    object
 7   Welcome Benefits               209 non-null    object
 8   Bank Name                      282 non-null    object
 9   shopping                       282 non-null    int64
 10  travel                         282 non-null    int64
 11  dining                         282 non-null    int64
 12  movies                         282 non-null    int64
 13  fuel                           282 non-null    int64
 14  food                           282 non-null    int64
 15  bill payment                   282 non-null    int64
 16  stays                          282 non-null    int64
 17  business expenses              282 non-null    int64
 18  annual fee waiver              278 non-null    float64
dtypes: float64(1), int64(13), object(5)
memory usage: 42.0+ KB
None

In [11]:
print(df.describe())

       Minimum Salaried Income  Minimum ITR for Self Employed    Joining Fee  \
count             2.820000e+02                   2.820000e+02     282.000000
mean              4.057234e+05                   4.576028e+05    5473.418440
std               9.482962e+05                   1.002572e+06   18557.124249
min               0.000000e+00                   0.000000e+00       0.000000
25%               0.000000e+00                   0.000000e+00     350.000000
50%               2.000000e+05                   2.200000e+05     750.000000
75%               4.000000e+05                   6.000000e+05    2874.250000
max               1.200000e+07                   1.200000e+07  180000.000000

         Renewal Fee    shopping      travel      dining      movies  \
count     282.000000  282.000000  282.000000  282.000000  282.000000
mean     4061.152482    0.638298    0.450355    0.095745    0.138298
std     15581.790763    0.481347    0.498414    0.294764    0.345826
min         0.000000    0.000000    0.000000    0.000000    0.000000
25%       499.000000    0.000000    0.000000    0.000000    0.000000
50%       750.000000    1.000000    0.000000    0.000000    0.000000
75%      2500.000000    1.000000    1.000000    0.000000    0.000000
max    180000.000000    1.000000    1.000000    1.000000    1.000000

             fuel        food  bill payment       stays  business expenses  \
count  282.000000  282.000000    282.000000  282.000000         282.000000
mean     0.063830    0.053191      0.007092    0.007092           0.003546
std      0.244884    0.224814      0.084065    0.084065           0.059549
min      0.000000    0.000000      0.000000    0.000000           0.000000
25%      0.000000    0.000000      0.000000    0.000000           0.000000
50%      0.000000    0.000000      0.000000    0.000000           0.000000
75%      0.000000    0.000000      0.000000    0.000000           0.000000
max      1.000000    1.000000      1.000000    1.000000           1.000000

       annual fee waiver
count              278.0
mean                 inf
std                  NaN
min                  0.0
25%             100000.0
50%             600000.0
75%                  NaN
max                  inf

C:\Users\Pramod Kaithey\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
C:\Users\Pramod Kaithey\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\lib\_function_base_impl.py:4653: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

In [31]:
print(df.isnull().sum())

Card Name                         0
Minimum Salaried Income           0
Minimum ITR for Self Employed     0
Joining Fee                       0
Renewal Fee                       0
Best Suited For                   5
Reward Type                       5
Welcome Benefits                 73
Bank Name                         0
shopping                          0
travel                            0
dining                            0
movies                            0
fuel                              0
food                              0
bill payment                      0
stays                             0
business expenses                 0
annual fee waiver                 4
dtype: int64

In [32]:
df = df.dropna(subset=[col for col in df.columns if col != "Welcome Benefits"])

In [33]:
print(df.isnull().sum())

Card Name                         0
Minimum Salaried Income           0
Minimum ITR for Self Employed     0
Joining Fee                       0
Renewal Fee                       0
Best Suited For                   0
Reward Type                       0
Welcome Benefits                 70
Bank Name                         0
shopping                          0
travel                            0
dining                            0
movies                            0
fuel                              0
food                              0
bill payment                      0
stays                             0
business expenses                 0
annual fee waiver                 0
dtype: int64

In [34]:
checker = df[(df["Renewal Fee"] == 0) & (df["annual fee waiver"] != 0)]
print(checker)

                                           Card Name  Minimum Salaried Income  \
6                            AU Bank LIT Credit Card                        0
11                              ixigo AU Credit Card                        0
14                     AU Bank Xcite Ace Credit Card                        0
15                         AU Bank Xcite Credit Card                        0
16                   AU Bank Xcite Ultra Credit Card                        0
17                 Aditya Birla AU Bank Credit Cards                        0
39                  Axis Bank KWIK RuPay Credit Card                        0
41                  Fibe Axis Bank RuPay Credit Card                        0
43              IKEA Family Credit Card by Axis Bank                        0
76                  HDFC Bank Pixel Play Credit Card                   300000
97               HDFC Bank Titanium Edge Credit Card                        0
102                   HSBC Visa Platinum Credit Card                   400000
107             ICICI Bank Platinum Chip Credit Card                   250000
110                Amazon Pay ICICI Bank Credit Card                   250000
124                  ICICI Bank Parakram Credit Card                        0
138                 IDFC FIRST Millennia Credit Card                   300000
139                    IDFC FIRST Select Credit Card                  1200000
142                   IDFC FIRST Classic Credit Card                   300000
145                    IDFC FIRST Wealth Credit Card                  3600000
147                       IDFC FIRST WoW Credit Card                        0
149                      IndusInd Legend Credit Card                   240000
150         IndusInd Bank Platinum RuPay Credit Card                   240000
151          EazyDiner IndusInd Platinum Credit Card                   240000
153               IndusInd Bank Platinum Credit Card                   240000
154     IndusInd Bank Platinum Aura Edge Credit Card                        0
159                       IndusInd Nexxt Credit Card                   240000
160              IndusInd Bank ePay Amex Credit Card                        0
162                  IndusInd Bank Crest Credit Card                        0
194                    RBL Bank ShopRite Credit Card                        0
204   RBL Bank Insignia Preferred Banking World Card                        0
260  Standard Chartered Platinum Rewards Credit Card                        0
274                       Yes Bank RuPay Credit Card                        0

     Minimum ITR for Self Employed  Joining Fee  Renewal Fee  \
6                                0            0            0
11                               0            0            0
14                               0            0            0
15                               0            0            0
16                               0            0            0
17                               0            0            0
39                               0            0            0
41                               0            0            0
43                               0            0            0
76                          600000            0            0
97                               0            0            0
102                         400000            0            0
107                         250000            0            0
110                         250000            0            0
124                              0            0            0
138                         300000            0            0
139                        1200000            0            0
142                         300000            0            0
145                        3600000            0            0
147                              0            0            0
149                         240000            0            0
150                         240000            0            0
151                         240000            0            0
153                         240000            0            0
154                              0          500            0
159                         240000         1999            0
160                              0            0            0
162                              0            1            0
194                              0            0            0
204                              0            0            0
260                              0            0            0
274                              0            0            0

                                    Best Suited For    Reward Type  \
6        movies | travel | dining | fuel | shopping  Reward Points
11                                           travel  Reward Points
14                                         shopping  Reward Points
15                                         shopping  Reward Points
16                                travel | shopping  Reward Points
17   travel | dining | shopping | business expenses  Reward Points
39                                         shopping  Reward Points
41                                         shopping       Cashback
43                                         shopping  Reward Points
76                                         shopping       Cashback
97                                         shopping  Reward Points
102                                        shopping  Reward Points
107                                          dining  Reward Points
110                                        shopping       Cashback
124                               travel | shopping  Reward Points
138                               movies | shopping  Reward Points
139                               travel | shopping  Reward Points
142                               travel | shopping  Reward Points
145                      movies | travel | shopping  Reward Points
147                               dining | shopping  Reward Points
149                               travel | shopping  Reward Points
150                                        shopping  Reward Points
151                                            food  Reward Points
153                                        shopping  Reward Points
154                                        shopping  Reward Points
159                               movies | shopping  Reward Points
160                                        shopping  Reward Points
162                               travel | shopping  Reward Points
194                                        shopping  Reward Points
204                                 movies | travel  Reward Points
260                                   dining | fuel  Reward Points
274                                        shopping  Reward Points

                                      Welcome Benefits           Bank Name  \
6                                                  NaN             AU Bank
11   1000 RPs and Rs. 1000 ixigo Money Voucher on F...             AU Bank
14                                                 NaN             AU Bank
15                                                 NaN             AU Bank
16                                                 NaN             AU Bank
17                           Up to 1,000 Reward Points             AU Bank
39                                                 NaN           Axis Bank
41                                                 NaN           Axis Bank
43                                                 NaN           Axis Bank
76                                                 NaN                HDFC
97                                                 NaN                HDFC
102                                                NaN           HSBC Bank
107                                                NaN           ICIC Bank
110  Cashback and Discounts Up to Rs. 2,000 and Fre...           ICIC Bank
124                                                NaN           ICIC Bank
138  5% cashback on first EMI spend up to Rs. 1,000...           IDFC Bank
139  Vouchers worth ₹500 on spends of ₹5,000 within...           IDFC Bank
142  Welcome gift voucher worth ₹500 on spending ₹5...           IDFC Bank
145  ₹500 Voucher from Uber, Amazon, and Bigbasket ...           IDFC Bank
147                                                NaN           IDFC Bank
149                                                NaN       IndusInd Bank
150                                                NaN       IndusInd Bank
151  3-Month EazyDiner Prime Membership and 500 Bon...       IndusInd Bank
153                                                NaN       IndusInd Bank
154  Get an EazyDiner discount voucher, and get a d...       IndusInd Bank
159  Gift vouchers from one of these brands: EazyDi...       IndusInd Bank
160                Free 3-Month Zomato Gold Membership       IndusInd Bank
162                                                NaN       IndusInd Bank
194                                2,000 Reward Points            RBL Bank
204  28,000 Reward Points (For Those With Fee Variant)            RBL Bank
260                                                NaN  Standard Chartered
274                                                NaN            YES Bank

     shopping  travel  dining  movies  fuel  food  bill payment  stays  \
6           1       1       1       1     1     0             0      0
11          0       1       0       0     0     0             0      0
14          1       0       0       0     0     0             0      0
15          1       0       0       0     0     0             0      0
16          1       1       0       0     0     0             0      0
17          1       1       1       0     0     0             0      0
39          1       0       0       0     0     0             0      0
41          1       0       0       0     0     0             0      0
43          1       0       0       0     0     0             0      0
76          1       0       0       0     0     0             0      0
97          1       0       0       0     0     0             0      0
102         1       0       0       0     0     0             0      0
107         0       0       1       0     0     0             0      0
110         1       0       0       0     0     0             0      0
124         1       1       0       0     0     0             0      0
138         1       0       0       1     0     0             0      0
139         1       1       0       0     0     0             0      0
142         1       1       0       0     0     0             0      0
145         1       1       0       1     0     0             0      0
147         1       0       1       0     0     0             0      0
149         1       1       0       0     0     0             0      0
150         1       0       0       0     0     0             0      0
151         0       0       0       0     0     1             0      0
153         1       0       0       0     0     0             0      0
154         1       0       0       0     0     0             0      0
159         1       0       0       1     0     0             0      0
160         1       0       0       0     0     0             0      0
162         1       1       0       0     0     0             0      0
194         1       0       0       0     0     0             0      0
204         0       1       0       1     0     0             0      0
260         0       0       1       0     1     0             0      0
274         1       0       0       0     0     0             0      0

     business expenses  annual fee waiver
6                    0                inf
11                   0                inf
14                   0                inf
15                   0                inf
16                   0                inf
17                   1                inf
39                   0                inf
41                   0                inf
43                   0                inf
76                   0           100000.0
97                   0            50000.0
102                  0                inf
107                  0                inf
110                  0                inf
124                  0                inf
138                  0                inf
139                  0                inf
142                  0                inf
145                  0                inf
147                  0                inf
149                  0                inf
150                  0                inf
151                  0                inf
153                  0                inf
154                  0                inf
159                  0                inf
160                  0                inf
162                  0                inf
194                  0           150000.0
204                  0                inf
260                  0             6000.0
274                  0                inf

In [35]:
df.loc[df["Renewal Fee"] == 0, "annual fee waiver"] = 0

In [36]:
checker = df[(df["Renewal Fee"] == 0) & (df["annual fee waiver"] != 0)]
print(checker)

Empty DataFrame
Columns: [Card Name, Minimum Salaried Income, Minimum ITR for Self Employed, Joining Fee, Renewal Fee, Best Suited For, Reward Type, Welcome Benefits, Bank Name, shopping, travel, dining, movies, fuel, food, bill payment, stays, business expenses, annual fee waiver]
Index: []

In [37]:
print(df.duplicated().sum())

1

In [38]:
print(df[df.duplicated(keep=False)])

                  Card Name  Minimum Salaried Income  \
243  SBI Tata Platinum Card                        0
255  SBI Tata Platinum Card                        0

     Minimum ITR for Self Employed  Joining Fee  Renewal Fee Best Suited For  \
243                              0         3000         3000        shopping
255                              0         3000         3000        shopping

     Reward Type                                   Welcome Benefits Bank Name  \
243  Fuel Points  You get exclusive shopping e-Gift vouchers wor...       SBI
255  Fuel Points  You get exclusive shopping e-Gift vouchers wor...       SBI

     shopping  travel  dining  movies  fuel  food  bill payment  stays  \
243         1       0       0       0     0     0             0      0
255         1       0       0       0     0     0             0      0

     business expenses  annual fee waiver
243                  0           100000.0
255                  0           100000.0

In [39]:
df = df.drop_duplicates(keep="first")

In [40]:
print(df[df.duplicated(keep=False)])

Empty DataFrame
Columns: [Card Name, Minimum Salaried Income, Minimum ITR for Self Employed, Joining Fee, Renewal Fee, Best Suited For, Reward Type, Welcome Benefits, Bank Name, shopping, travel, dining, movies, fuel, food, bill payment, stays, business expenses, annual fee waiver]
Index: []

In [43]:
df.head(15)

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,0,0,0,0,0,0,0,0,150000.0
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,0,0,0,0,0,0,0,0,40000.0
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,1,0,0,0,0,0,0,0,inf
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,1,0,0,0,0,0,0,0,inf
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,1,1,0,0,0,0,0,0,inf
5,American Express Platinum Charge Card,2500000,1500000,66000,66000,travel | shopping,Reward Points,"Vouchers Worth ₹60,000 of Taj Hotels, Luxe Gif...",American Express,1,1,0,0,0,0,0,0,0,inf
6,AU Bank LIT Credit Card,0,0,0,0,movies | travel | dining | fuel | shopping,Reward Points,NaN,AU Bank,1,1,1,1,1,0,0,0,0,0.0
7,AU Altura Plus Credit Card,0,0,499,499,shopping,Reward Points,NaN,AU Bank,1,0,0,0,0,0,0,0,0,80000.0
9,AU Altura Credit Card,0,0,199,199,shopping,Cashback,NaN,AU Bank,1,0,0,0,0,0,0,0,0,40000.0
10,AU Zenith+ Credit Card,3000000,3000000,4999,4999,travel | dining | shopping,Reward Points,Luxury Gift Vouchers or Reward Points Worth ₹5...,AU Bank,1,1,1,0,0,0,0,0,0,800000.0
11,ixigo AU Credit Card,0,0,0,0,travel,Reward Points,1000 RPs and Rs. 1000 ixigo Money Voucher on F...,AU Bank,0,1,0,0,0,0,0,0,0,0.0
12,AU Vetta Credit Card,0,0,2999,2999,travel | shopping,Reward Points,NaN,AU Bank,1,1,0,0,0,0,0,0,0,150000.0
13,AU Spont Credit Card,0,0,299,299,shopping,Cashback,NaN,AU Bank,1,0,0,0,0,0,0,0,0,inf
14,AU Bank Xcite Ace Credit Card,0,0,0,0,shopping,Reward Points,NaN,AU Bank,1,0,0,0,0,0,0,0,0,0.0
15,AU Bank Xcite Credit Card,0,0,0,0,shopping,Reward Points,NaN,AU Bank,1,0,0,0,0,0,0,0,0,0.0

In [44]:
df = df.reset_index(drop=True)

In [45]:
df.head(10)

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,0,0,0,0,0,0,0,0,150000.0
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,0,0,0,0,0,0,0,0,40000.0
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,1,0,0,0,0,0,0,0,inf
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,1,0,0,0,0,0,0,0,inf
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,1,1,0,0,0,0,0,0,inf
5,American Express Platinum Charge Card,2500000,1500000,66000,66000,travel | shopping,Reward Points,"Vouchers Worth ₹60,000 of Taj Hotels, Luxe Gif...",American Express,1,1,0,0,0,0,0,0,0,inf
6,AU Bank LIT Credit Card,0,0,0,0,movies | travel | dining | fuel | shopping,Reward Points,NaN,AU Bank,1,1,1,1,1,0,0,0,0,0.0
7,AU Altura Plus Credit Card,0,0,499,499,shopping,Reward Points,NaN,AU Bank,1,0,0,0,0,0,0,0,0,80000.0
8,AU Altura Credit Card,0,0,199,199,shopping,Cashback,NaN,AU Bank,1,0,0,0,0,0,0,0,0,40000.0
9,AU Zenith+ Credit Card,3000000,3000000,4999,4999,travel | dining | shopping,Reward Points,Luxury Gift Vouchers or Reward Points Worth ₹5...,AU Bank,1,1,1,0,0,0,0,0,0,800000.0

In [46]:
df.tail()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver
267,YES Bank Wellness Plus Credit Card,300000,500000,1499,1499,travel,Reward Points,NaN,YES Bank,0,1,0,0,0,0,0,0,0,inf
268,YES Bank EMI Credit Card,750000,750000,499,499,shopping,Reward Points,NaN,YES Bank,1,0,0,0,0,0,0,0,0,inf
269,YES Prosperity Rewards Credit Card,300000,500000,499,499,shopping,Reward Points,NaN,YES Bank,1,0,0,0,0,0,0,0,0,75000.0
270,YES First Preferred Credit Card,2400000,2400000,999,999,shopping,Reward Points,NaN,YES Bank,1,0,0,0,0,0,0,0,0,inf
271,YES Prosperity Cashback Plus Credit Card,420000,500000,1499,1499,shopping,Reward Points,A cashback of Rs. 250 on spending Rs. 2500 wit...,YES Bank,1,0,0,0,0,0,0,0,0,inf

In [47]:
df.dtypes

Card Name                         object
Minimum Salaried Income            int64
Minimum ITR for Self Employed      int64
Joining Fee                        int64
Renewal Fee                        int64
Best Suited For                   object
Reward Type                       object
Welcome Benefits                  object
Bank Name                         object
shopping                           int64
travel                             int64
dining                             int64
movies                             int64
fuel                               int64
food                               int64
bill payment                       int64
stays                              int64
business expenses                  int64
annual fee waiver                float64
dtype: object

In [52]:
df['Minimum Salaried Income'].value_counts()

Minimum Salaried Income
0           125
300000       21
240000       21
600000       16
250000       15
1200000       8
360000        7
480000        6
720000        5
900000        4
2500000       4
400000        4
420000        3
180000        3
200000        3
450000        2
3000000       2
2100000       2
1800000       2
2400000       2
3600000       2
840000        2
120000        2
144000        1
1500000       1
12000000      1
4000000       1
1080000       1
1440000       1
96000         1
960000        1
500000        1
384000        1
750000        1
Name: count, dtype: int64

In [53]:
df['Minimum ITR for Self Employed'].value_counts()

Minimum ITR for Self Employed
0           125
600000       30
240000       17
250000       15
300000        9
1200000       6
480000        6
500000        6
360000        5
720000        5
200000        5
3000000       5
400000        4
1800000       3
1500000       3
2400000       3
900000        3
2500000       3
750000        3
180000        2
1000000       2
2100000       2
840000        2
12000000      1
450000        1
1440000       1
120000        1
960000        1
6000000       1
3600000       1
384000        1
Name: count, dtype: int64

In [54]:
import google.generativeai as genai

In [ ]:
genai.configure(api_key="AIzaSyCOUJOesMbTUQZqN-************")

In [59]:
models = genai.list_models()
for m in models:
    print(m.name)

models/chat-bison-001
models/text-bison-001
models/embedding-gecko-001
models/gemini-1.0-pro-vision-latest
models/gemini-pro-vision
models/gemini-1.5-pro-latest
models/gemini-1.5-pro-001
models/gemini-1.5-pro-002
models/gemini-1.5-pro
models/gemini-1.5-flash-latest
models/gemini-1.5-flash-001
models/gemini-1.5-flash-001-tuning
models/gemini-1.5-flash
models/gemini-1.5-flash-002
models/gemini-1.5-flash-8b
models/gemini-1.5-flash-8b-001
models/gemini-1.5-flash-8b-latest
models/gemini-1.5-flash-8b-exp-0827
models/gemini-1.5-flash-8b-exp-0924
models/gemini-2.0-flash-exp
models/gemini-2.0-flash
models/gemini-2.0-flash-001
models/gemini-2.0-flash-exp-image-generation
models/gemini-2.0-flash-lite-001
models/gemini-2.0-flash-lite
models/gemini-2.0-flash-lite-preview-02-05
models/gemini-2.0-flash-lite-preview
models/gemini-2.0-pro-exp
models/gemini-2.0-pro-exp-02-05
models/gemini-exp-1206
models/gemini-2.0-flash-thinking-exp-01-21
models/gemini-2.0-flash-thinking-exp
models/gemini-2.0-flash-thinking-exp-1219
models/learnlm-1.5-pro-experimental
models/gemma-3-27b-it
models/embedding-001
models/text-embedding-004
models/gemini-embedding-exp-03-07
models/gemini-embedding-exp
models/aqa
models/imagen-3.0-generate-002

In [56]:
benefits_list = df["Welcome Benefits"].dropna().tolist()

In [67]:
print(len(benefits_list))
print(benefits_list[:202])

202
['Welcome benefit of 4,000 Bonus Membership RPs can be availed on settling the joining fee of Rs. 1,000 and spending of Rs 15,000 within the first 90 days of the card issuance.', 'Cashback of ₹500 and 4,000 Referral Bonus Membership Rewards Points', '4,000 Bonus Membership Rewards Points + 4,000 Referral Bonus Membership Rewards Points (Limited Time Offer)', '10,000 Membership Rewards Points', '11,000 bonus Membership Rewards Points on a minimum expenditure of Rs. 30,000 within 90 days of card issuance.', 'Vouchers Worth ₹60,000 of Taj Hotels, Luxe Gift Card, and The Postcard Hotels & Resorts', 'Luxury Gift Vouchers or Reward Points Worth ₹5,000', '1000 RPs and Rs. 1000 ixigo Money Voucher on First Transaction Within 30 days of Card Issuance', 'Up to 1,000 Reward Points', 'Rs. 1,000 worth of Vouchers after the first POS transaction, 10,000 Bonus RPs on spending Rs. 1 Lakh. Each welcome benefit would be applicable for retail spends made within sixty of card set-up.', 'Introductory Benefits Worth Rs. 600 on Card Issuance', 'Free SonyLiv Subscription Worth ₹1,499', '1,250 EDGE Reward Points Worth ₹250', 'Amazon Voucher Worth Rs. 500', 'Get 100% cashback up to Rs. 300 on your first utility bill payment within 30 days of getting the card.', '500 EDGE Miles on the First Transaction Within 30 Days of Card Issuance', '10,000 EDGE Reward Points (Worth ₹2,000) on First Transaction', '2,500 Edge Miles on Completing 1 Transaction Within 30 Days of Card Issuance', '12,500 EDGE Reward Points Worth ₹2,500', '5000 EDGE reward points on spending Rs. 1000 and above within 30 days of card activation', '2,500 EDGE Miles and Taj/ITC Hotel Vouchers Worth ₹10,000', 'Choose a gift voucher worth Rs. 12,500 from any one of Luxe, Yatra, or Postcard Hotels', '50,000 Edge Reward Points on Card Activation', '25,000 Axis EDGE Miles OR Rs 40,000 Gift Card from ITC Hotels', 'A Decathlon voucher worth Rs. 750.', '30,000 EDGE Reward Points', '2,500 bonus Edge Rewards on making at least 3 transactions within the first 30 days of card issuance.', '5000 EDGE Miles on Spends of ₹1,000 Within the First 30 Days of Card Issuance', '5,000 EDGE Reward Points on Making the First Transaction Within 30 Days', 'First Citizen Reward Points Worth ₹300, Shoppers Stop Vouchers Worth ₹2,250, and Complimentary Shoppers Stop Golden Glow Membership', '15,000 miles on Axis Bank Miles & More Select Credit Card and 5,000 miles on Axis Bank Miles & More World Credit Card', 'Get 500 SuperCoins on card activation, a year Lenskart Gold membership, and a free trial membership of Ganna Plus and Youtube Premium.', 'SpiceJet flight voucher of Rs. 1,500 on completion of 2 transactions with 30 days of the card issuance.', 'Get a SpiceJet flight voucher worth Rs. 4,000 and complimentary Spiceclub Gold membership.', 'Nil', '500 Reward Points on Spends of ₹5,000 or More in the First 60 Days of Card Issuance', '500 Reward Points on Spends of ₹5,000 Within 60 Days of Card Issuance', '500 Reward Points on Spends of ₹5,000 or More Within 60 Days of Card Issuance', 'Free Swiggy One (3 Months), FitPass Pro, Amazon Prime/Disney Hotstar and Gaana Plus Memberships', '500 Bonus Reward Points on Spending ₹5,000 Within the First 60 Days of Card Issuance', '500 Bonus Reward Points On Spending ₹5,000 or More Within 60 Days of Card Issuance', '6-month FitPass Pro membership worth Rs. 15,000 and 10,000 bonus reward points.', 'Get a Snapdeal gift voucher worth up to Rs. 500 as a welcome benefit.', '1,000 CashPoints', 'Complimentary 3-Month Swiggy One Membership', 'Voucher Worth ₹2,500', '1,499 NeuCoins on Tata Neu App', '499 NeuCoins', 'Amazon voucher worth Rs. 500 on making the first transaction within the first 30 days.', 'Shoppers Stop Voucher Worth ₹500 and Complimentary Shoppers Stop Silver Edge Membership', '500 CashPoints', 'Free Night Award Valid for One Year at Marriott Hotels. Silver Elite Status in the Marriott Bonvoy Program', 'Complimentary Membership of Club Marriott, Swiggy One and Amazon Prime (On Spends of Rs. 1.5 Lakh Within 90 Days of Card Issuance)', 'Welcome bonus of 12,500 Reward Points and complimentary Club Marriott membership for the first year offering 20% discounts on dining and stay in the Asia-Pacific region.', 'Complimentary Membership of Swiggy One & Times Prime', 'Shoppers Stop Vouchers Worth ₹4,500 and Complimentary Shoppers Stop Black Membership (Worth ₹4,500)', '500 CashPoints', 'One complimentary flight ticket worth Rs. 3000 and 6E Prime Add-On.', '1 complimentary 6E Prime add-on with priority check-in, complimentary meal, quicker baggage, choice of seat, etc.', 'Get complimentary annual membership of Forbes, Club Marriott, Times Prime, MMT Black, Amazon Prime, and Swiggy One (3 Months) on spending Rs. 1,50,000 or more in the first 90 days of card issuance', 'Annual Membership of Swiggy One, Times Now, and Harley Vouchers Worth ₹750 on Spending ₹75,000 in the First 90 Days of Card Issuance', 'Three Month Swiggy One Membership, Annual Memberships of Club Marriott, Amazon Prime, Forbes, and MMT Black and Harley Vouchers Worth ₹2,500', '1,000 Reward Points on payment of the annual fee.', '2,500 bonus Reward points', '500 CashPoints', 'A free wellness package from Thyrocare.', '2,500 bonus Reward Points', '1,000 Reward Points on settling the renewal membership fee.', '1,000 Reward Points', 'Earn up to 3,000 Bonus InterMiles as a welcome gift on the basis of your spending.', 'Get 500 Cash Points.', 'Complimentary Times Prime annual Membership and E-Vouchers Worth Rs. 5000.', 'Complimentary Times Prime Membership and E-Vouchers Worth Rs. 5000.', '1,000 bonus Reward Points', 'Earn up to 8,000 bonus Inter Miles on the basis of your spending as a welcome gift.Exciting discount vouchers for Flight & Hotel bookings.', 'Get InterMiles Gold membership for the first year and up to 25,000 bonus InterMiles.', 'You get 2,500 Reward Points as a welcome gift', '₹1,000 Cashback on Spending ₹20,000 in the First 30 Days', '₹1,000 Cashback, PostCard Voucher Worth ₹3,000, and 3 Month EazyDiner Membership on Spending ₹10,000 Within 30 Days of Card Issuance. Additional 3,000 Points on Spending ₹1 Lakh Within 90 Days', "Complimentary Night's Stay Including Breakfast at a Taj Palace Hotel and 2 Nights at Any 5-Star Taj or Other IHCL Hotel", 'Travel & Shopping Vouchers Worth Rs. 5,000', 'Cashback and Discounts Up to Rs. 2,000 and Free 3-Month Prime Membership', '2,000 bonus Reward Points on paying the membership fee within 2 months and spending at least Rs. 5,000 within the first 45 days of card issuance; Rs. 100 cashback on HP Pay app on the first fuel purchase of Rs. 1,000 or more.', 'Hotel Voucher Worth ₹1,000. Flight Voucher Worth ₹2,000 on Spends of ₹10,000.', 'Hotel and Holiday Voucher Worth ₹2,000 Each. ₹5,000 Flight Voucher on Spends of ₹25,000 Within 60 Days of Card Activation', 'Exclusive Travel & Shopping Vouchers Worth More than ₹9,500 (From Tata CliQ, EaseMyTrip, Uber, Croma)', 'Complimentary Taj Epicure membership, 12,500 bonus reward points, and complimentary EazyDiner membership', '5,000 bonus Skyward Miles and complimentary Emirates Skywards Silver Tier membership.', '10,000 Skyward Miles and Emirates Skywards Silver Tier Membership', 'Manchester United Branded Holdall and Football', 'A Scuderia Ferrari Watch.', '2,000 bonus Reward Points.', 'Complimentary roadside repair services, car wash, general checkup, etc for the first year.', '5,000 bonus InterMiles, flight discount voucher worth Rs. 500 and hotel discount voucher worth Rs. 1,000', 'You get exclusive flights and hotels discount vouchers on booking from partner brand, www.intermiles.com, as a welcome benefit. You also get 2,500 bonus InterMiles on joining.', '1 year InterMiles Silver Tier membership with 10,000 bonus InterMiles, a discount of Rs. 750 on flight bookings and Rs. 1,500 on hotel bookings (AmEx variant), a discount of Rs. 500 on flight bookings and Rs. 1,000 on hotel reservations (Visa variant).', '30,000 hand-picked rewards.', 'Apple MacBook Air MMGG2HN/A worth Rs. 75,000 on realization of the joining fee', 'British Airways Executive Club membership and 8,000 Avios', 'Welcome bonus of 3,500 Avios.', '5% cashback on first EMI spend up to Rs. 1,000 and additional welcome gift vouchers worth Rs. 500 on spending Rs. 5,000 within 30 days of card generation', 'Vouchers worth ₹500 on spends of ₹5,000 within 30 days of card issuance. Also, get a 5% cashback on EMI transactions (up to Rs. 1,000) within 30 days of card issuance.', 'Bonus 2,500 Reward Points (₹625). ₹2,000 Cashback on Making Four Transactions of ₹500 or Above', '5,000 Bonus Reward Points for New Card Applicants. Maximum Cashback of ₹4,000 on Making Four Transactions of ₹1,000 or More', 'Welcome gift voucher worth ₹500 on spending ₹5,000 or more within the first 30 days. Also, get 5% cashback on the value of your first EMI transaction done within 30 days of card generation.', 'Up to ₹500 cash back on your 1st HPCL fuel transaction above ₹500 and up to 5% cashback (up to ₹1,000 capped) on the transaction value of the first EMI.', 'Up to ₹250 cash back on your 1st HPCL fuel transaction above ₹250 and up to 5% cashback (up to ₹1,000 capped) on the transaction value of the first EMI.', '₹500 Voucher from Uber, Amazon, and Bigbasket on Spending ₹5,000 Within 30 Days of Card Issuance. 5% Cashback Upto ₹1,000 on the First EMI Transaction', '1,000 RPs on First EMI Transaction, 1 Year Lenskart Gold Membership & 1-Year Times Prime Membership', 'Complimentary class upgrade voucher and 1 premium economy flight ticket voucher for Air Vistara', '3-Month EazyDiner Prime Membership and 500 Bonus EazyPoints', '2,000 Bonus EazyPoints, Complimentary Membership of EazyDiner Prime, and Postcard Hotel Stay Voucher Worth ₹5,000', 'Get an EazyDiner discount voucher, and get a discount voucher from any of these brands: Amazon, Flipkart, Big Bazaar, Zee5, Apollo Pharmacy, Uber, Ola, etc.', 'Complimentary Gold tier membership and bonus 20,000 Avios for Qatar Airways Privilege Club members, and bonus 55,000 Avios for British Airways Executive Club members', '6,000 Reward Points (On Spends of ₹1 Lakh)', 'Free Taj Epicure, EazyDiner Prime, and Moneycontrol Pro Membership. 5,000 Reward Points on Spending Rs. 1 Lakh Within 30 Days of Card Issuance', 'Gift vouchers from one of these brands: EazyDiner, Bata, Oberoi Hotels, Yatra, Vero Moda, or Aldo, etc as welcome gifts.', 'Free 3-Month Zomato Gold Membership', 'Vouchers Worth ₹1,000 from Any One of the Following Brands - Bata, United Colors of Benetton, Levis, Pantaloons, Pizza Hut', 'Vouchers Worth ₹25,000', 'Choose any one benefit from, a Luxe gift card, a complimentary night stay at Oberoi hotels, or gift vouchers from brands like Hush Puppies, BATA, Titan, Pantaloons, Raymond, etc.', 'Oberoi hotel e-gift voucher and a Luxe Gift card worth Rs 5,000', 'Oberoi e-gift voucher and a Luxe Gift card.', 'Complimentary Club Vistara Gold Membership, complimentary business class ticket, and exclusive gift vouchers worth Rs 25,000.', 'Get great discounts at EazyDiner, and gift vouchers from BATA and Vero Moda.', 'You get exclusive Montblanc e-gift vouchers, Postcard hotel vouchers, and Luxe Gift cards, and vouchers from popular brands like Flipkart, Big Bazaar, and many more.', '1,000 PAYBACK points after paying the joining fee', 'The card provides various welcome benefits in the form of gift cards and vouchers that include Montblanc, Luxe Gift card, the Postcard hotel, and vouchers/gift cards for Amazon, Flipkart, Big Bazaar, Zee5, Apollo pharmacy, and many more.', 'Get a luxurious stay at any of the best Oberoi hotels.', 'Myntra voucher worth Rs. 500 on making 1 transaction above Rs. 500 inside 30 days of card issuance', 'Complimentary flight ticket worth Rs. 3,000 and 6E add-ons worth Rs. 1099', 'You get a complimentary flight ticket and 6E add-on, Accor hotels stay/dining vouchers, and a Budweiser gift voucher.', 'Get 1000 Reward Points on spending Rs. 500 or more within 30 days of getting the card', 'Get 1500 Zen Points on payment of joining fees', 'Get a movie voucher worth Rs 500 on payment of the joining fee', 'Voucher worth Rs. 1,500 on spending Rs. 30,000 withing 60 days of card setup', 'Complimentary IHO membership worth Rs. 8,500 on spending Rs. 500 within the first 30 days of card issuance.', '500 Reward Points if you spend Rs. 500 in the first 30 days of card set-up', '2,000 Reward Points', '1,000 Fuel Points', '3,000 Fuel Points', 'MakeMyTrip voucher worth Rs. 3,000 as a welcome gift', '500 Reward Points', 'Get a discount of up to Rs. 500 on movie/non-movie ticket bookings via BookMyShow on making at least one transactions using the RBL Play Credit Card within the first 30 days.', '4,000 Reward Points', '10,000 Reward Points', 'Get 20,000 bonus reward points.', 'MMT voucher worth ₹3,000', '28,000 Reward Points (For Those With Fee Variant)', 'Earn 2,000 Reward Points within 30 days of card issuance', 'Earn 6,000 Reward Points on making the first transaction worth ₹1,000.', '2,000 bonus RP on the first transaction within 30 days from card issuance', '6,000 bonus RP on the first transaction within 30 days from card issuance', 'Earn up to 2,500 Reward Points after the first transaction', "2,000 Reward Points when you make purchases of ₹5,000 within 30 days of card issuance, a clear sign that you're valued as a customer.", 'Earn 2,000 Reward Points; BookMyShow movie voucher worth ₹200 on card activation', 'Gift Voucher Worth Rs. 1,000 from Flipkart/Amazon/Croma/Myntra/Shoppers Stop', '4 free movie tickets (up to Rs. 1000).', 'Bonus Reward Points of up to 3,000 points.', '500 Edition Cash', 'Complimentary Zomato pro membership.', 'Amazon Gift Card Worth Rs. 500', '2,000 Reward Points on Spending ₹2,000 in the First 60 Days', '6,000 Bonus Reward Points Worth ₹1,500', 'A Noise ColorFit Pulse Smart Watch worth Rs. 5,999, complimentary Fitpass Pro membership, and complimentary Netmeds First membership.', 'Gift voucher (worth Rs. 3,000) from any of these brands, Yatra, Aditya Birla Fashion, Bata/Hush Puppies, Shoppers Stop, and Pantaloons.', '2,000 Activation Bonus Reward Points worth Rs.500 on payment of joining fee (credited after 20 days of the payment of joining fee).', 'E-vouchers worth Rs. 5,000 from any one of the brands, including Yatra, Aditya Birla Fashion, Hush Puppies/Bata, Pantaloons, and Shoppers Stop.', 'Activation bonus of 2,000 Rewards Points.', 'Get 1,500 Travel Credits on spending ₹30,000 within 60 days of issuance.', 'Get 3,000 Travel Credits on spending ₹60,000 within 60 days of issuance.', '3,000 KrisFlyer Miles', '5,000 Travel Credits', '350 Reward Points on a Minimum Transaction of ₹500 Within 45 Days of Receiving the Card', '12000 Reward Points (Worth ₹3,000)', 'Reliance Retail Vouchers Worth Rs. 500 and Discount Vouchers of Rs. 3,200', 'Reliance Retail Vouchers Worth Rs. 3,000 and Discount Vouchers of Rs. 11,999', '5,000 Etihad Guest Miles, 2 Free Wifi vouchers on first Etihad Airways booking, complimentary Etihad Guest Gold tier status post first card transaction,', '2,500 Etihad Guest Miles, Etihad Guest Silver tier status, 1 complimentary wifi voucher on first booking for Etihad Airways', '1,500 Reward Points', 'Get e-gift vouchers from Yatra.com worth Rs 8250/- on paying the membership fee', 'Fabindia Vouchers worth Rs. 1,500; direct access to platinum tier Fabfamily membership.', 'Fabindia gift vouchers worth Rs. 500 & Fabfamily Gold Tier membership.', 'Get a Complimentary Paytm First Membership is provided on card activation as welcome offer. Welcome Cashback of Rs 750 is provided to the card holder upon activation of the credit card in your Paytm wallet.', 'Complimentary membership to Paytm First worth Rs. 899.', 'You get exclusive shopping e-Gift vouchers worth Rs 3000 from any partner exclusive such as Yatra, Hush Puppies / Bata, Aditya Birla Fashion, Westside', '2,000 bonus reward points worth Rs. 500 on card activation and Rs. 100 cash back on your first ATM cash withdrawal within 30 days of card activation.', '12000 RPs worth Rs. 3000. Rs. 100 cash-back on first withdrawal using ATM (within 30 days of receiving the card)', '500 Reward Points and complimentary Apollo Gold Tier Membership', 'Earn 6000 bonus reward points on paying annual fees.', '1,000 bonus Reward Points', '1 complimentary Premium Economy class ticket as a gift voucher on payment of the joining/renewal fee.', '1 economy class air ticket e-voucher as a complimentary gift and Club Vistara Base membership', '20,000 Maharaja Points', '5,000 reward points after paying the joining fee (credited within 15 days from the date of payment)', 'Gift voucher worth Rs. 1,500 from Nature’s Basket and complimentary access to ‘Epicure’ Nature’s Basket Loyalty Program', 'Complementary access to Connoisseur, Nature’s Basket loyalty program and Nature’s Basket Gift Voucher worth Rs. 5,000.', '6000 Rewards Points on card issuance.', 'Extended 90 days interest period from the date of the card issuance date.', 'Up to 1,500 cashback on fuel transactions within the first three months.', '40,000 Reward Points', 'A cashback of Rs. 250 on spending Rs. 2500 within the first 30 days.']

In [77]:
def get_monetary_values(benefits):
    model = genai.GenerativeModel("gemini-1.5-pro")
    prompt = (
    "Estimate the total monetary value (in INR) of the following credit card welcome benefits. "
    "If multiple benefits are present, sum their values. Follow these rules:"
    "  if Cashback or direct statement credit → Use the exact amount."
    " if Reward points → Convert using 1 point ≈ 0.25 INR."
    "if Vouchers (e.g., Amazon, Flipkart, Taj, etc.) → Approximate their market value using online references for similar vouchers."
    " if Complimentary services (hotel stays, lounge access, memberships, etc.) → Estimate their value based on typical market prices."
    " If a benefit has no clear monetary value then try estimating its value from online sources.\n\n"
    "For each card, return the total estimated value in INR and assign a score from 1 to 10 based on its overall worth:"
    "- **1** = Minimal value (~0-500 INR)\n"
    "- **5** = Moderate value (~2000-5000 INR)\n"
    "- **10** = Extremely high value (~20,000+ INR)\n\n"
    "If multiple benefits are included in one card, add their values accordingly. Format your response strictly as:"
    "`Estimated Value: <total_amount>, Score: <score>`\n\n"
    "Benefits List:\n" + "\n".join([f"{i+1}. {b}" for i, b in enumerate(benefits)])
)

    print("Sending prompt to API...")
    response = model.generate_content(prompt)

    if response is None:
        print("No response from API")
        return []

    print("RAW API RESPONSE:", response.text)  # Debugging

    values = response.text.split("\n")
    print("Extracted Values:", values)  # Debugging

    return values

In [78]:
monetary_values = get_monetary_values(benefits_list)
print("Length of monetary_values:", len(monetary_values))

Sending prompt to API...
RAW API RESPONSE: 1. Estimated Value: 1000, Score: 2
2. Estimated Value: 1500, Score: 2
3. Estimated Value: 2000, Score: 4
4. Estimated Value: 2500, Score: 4
5. Estimated Value: 2750, Score: 4
6. Estimated Value: 60000, Score: 10
7. Estimated Value: 5000, Score: 5
8. Estimated Value: 2000, Score: 4
9. Estimated Value: 250, Score: 1
10. Estimated Value: 2000, Score: 4
11. Estimated Value: 600, Score: 1
12. Estimated Value: 1499, Score: 2
13. Estimated Value: 250, Score: 1
14. Estimated Value: 500, Score: 1
15. Estimated Value: 300, Score: 1
16. Estimated Value: 125, Score: 1
17. Estimated Value: 2000, Score: 4
18. Estimated Value: 625, Score: 1
19. Estimated Value: 2500, Score: 4
20. Estimated Value: 1250, Score: 2
21. Estimated Value: 10625, Score: 7
22. Estimated Value: 12500, Score: 8
23. Estimated Value: 12500, Score: 8
24. Estimated Value: 40000, Score: 10
25. Estimated Value: 750, Score: 1
26. Estimated Value: 7500, Score: 6
27. Estimated Value: 625, Score: 1
28. Estimated Value: 1250, Score: 2
29. Estimated Value: 1250, Score: 2
30. Estimated Value: 2750, Score: 4
31. Estimated Value: 3125, Score: 5  (Assuming 1 mile = ₹0.25 based on previous conversions)
32. Estimated Value: 1000, Score: 2 (Estimating combined memberships & coins ~₹800-₹1000)
33. Estimated Value: 1500, Score: 2
34. Estimated Value: 4500, Score: 5 (Estimating SpiceClub Gold at ₹500)
35. Estimated Value: 0, Score: 1
36. Estimated Value: 125, Score: 1
37. Estimated Value: 125, Score: 1
38. Estimated Value: 125, Score: 1
39. Estimated Value: 2500, Score: 4 (Estimating combined value of memberships)
40. Estimated Value: 125, Score: 1
41. Estimated Value: 125, Score: 1
42. Estimated Value: 17500, Score: 9
43. Estimated Value: 500, Score: 1
44. Estimated Value: 1000, Score: 2 (Assuming 1 CashPoint = ₹1)
45. Estimated Value: 750, Score: 1 (Estimating 3-month Swiggy One at ₹750)
46. Estimated Value: 2500, Score: 4
47. Estimated Value: 1499, Score: 2
48. Estimated Value: 499, Score: 1
49. Estimated Value: 500, Score: 1
50. Estimated Value: 700, Score: 1 (Estimating Silver Edge membership at ~₹200)
51. Estimated Value: 500, Score: 1
52. Estimated Value: 5000, Score: 5 (Estimating a free night stay at ~₹4000-₹5000)
53. Estimated Value: 4500, Score: 5 (Estimating combined membership value)
54. Estimated Value: 5125, Score: 5 (Estimating Club Marriott benefits at ₹2000)
55. Estimated Value: 1500, Score: 2 (Estimating combined membership value)
56. Estimated Value: 9000, Score: 7
57. Estimated Value: 500, Score: 1
58. Estimated Value: 3000, Score: 5 (Ignoring 6E Prime, as no clear monetary value is provided)
59. Estimated Value: 500, Score: 1 (Estimating the add-on benefits value)
60. Estimated Value: 5000, Score: 5 (Estimating combined value of memberships)
61. Estimated Value: 2250, Score: 4 (Estimating combined value of memberships and vouchers)
62. Estimated Value: 6750, Score: 6 (Estimating combined value of memberships and vouchers)
63. Estimated Value: 250, Score: 1
64. Estimated Value: 625, Score: 1
65. Estimated Value: 500, Score: 1
66. Estimated Value: 500, Score: 1 (Estimating wellness package value)
67. Estimated Value: 625, Score: 1
68. Estimated Value: 250, Score: 1
69. Estimated Value: 250, Score: 1
70. Estimated Value: 750, Score: 1
71. Estimated Value: 500, Score: 1
72. Estimated Value: 6000, Score: 6 (Estimating Times Prime at ~₹1000)
73. Estimated Value: 6000, Score: 6 (Estimating Times Prime at ~₹1000)
74. Estimated Value: 250, Score: 1
75. Estimated Value: 2000, Score: 4 (Considering only points as discounts are variable)
76. Estimated Value: 6250, Score: 6 (Estimating Gold membership benefits at minimal value)
77. Estimated Value: 625, Score: 1
78. Estimated Value: 1000, Score: 2
79. Estimated Value: 4750, Score: 5 (Estimating EazyDiner membership at minimal value)
80. Estimated Value: 25000, Score: 10 (Conservative estimate for luxury stays)
81. Estimated Value: 5000, Score: 5
82. Estimated Value: 2000, Score: 4 (Ignoring Prime as its bundled, focusing on monetary value)
83. Estimated Value: 725, Score: 1
84. Estimated Value: 3000, Score: 5
85. Estimated Value: 9000, Score: 7
86. Estimated Value: 9500, Score: 7
87. Estimated Value: 4625, Score: 5 (Estimating memberships at a conservative value)
88. Estimated Value: 500, Score: 1 (Focusing on points as tier upgrade requires spending)
89. Estimated Value: 2500, Score: 4
90. Estimated Value: 2000, Score: 4 (Estimated value of merchandise)
91. Estimated Value: 10000, Score: 7 (Estimated value, can vary based on model)
92. Estimated Value: 500, Score: 1
93. Estimated Value: 2000, Score: 4 (Estimated average value of services)
94. Estimated Value: 2250, Score: 4
95. Estimated Value: 625, Score: 1 (Only considering points as discounts are variable)
96. Estimated Value: 4000, Score: 5 (VISA variant; AMEX would be higher)
97. Estimated Value: Unknown, Score: 1 (No monetary value provided)
98. Estimated Value: 75000, Score: 10
99. Estimated Value: 2000, Score: 4 (Assuming 1 Avios = ₹0.25 as a general estimate)
100. Estimated Value: 875, Score: 1 (Using same Avios conversion)
101. Estimated Value: 1500, Score: 2
102. Estimated Value: 1500, Score: 2
103. Estimated Value: 2625, Score: 4
104. Estimated Value: 5250, Score: 5
105. Estimated Value: 550, Score: 1 (Cashback is up to ₹500, not confirmed)
106. Estimated Value: 1500, Score: 2
107. Estimated Value: 1250, Score: 2
108. Estimated Value: 1500, Score: 2
109. Estimated Value: 2250, Score: 4 (Estimating memberships at conservative values)
110. Estimated Value: 15000, Score: 8 (Estimating significant value for flight upgrade/ticket)
111. Estimated Value: 750, Score: 1 (Estimating EazyDiner benefits conservatively)
112. Estimated Value: 5500, Score: 5
113. Estimated Value: 500, Score: 1 (Vouchers have highly variable values, being conservative)
114. Estimated Value: 5500, Score: 5 (BA variant, QA would be lower. Using general Avios estimate.)
115. Estimated Value: 1500, Score: 2
116. Estimated Value: 2500, Score: 4 (Estimating memberships conservatively)
117. Estimated Value: 500, Score: 1 (Highly variable voucher value, being conservative)
118. Estimated Value: 750, Score: 1 (Estimating 3-month Zomato Gold value)
119. Estimated Value: 1000, Score: 2
120. Estimated Value: 25000, Score: 10
121. Estimated Value: 5000, Score: 5 (Assuming similar to other Luxe/Oberoi offers)
122. Estimated Value: 5000, Score: 5
123. Estimated Value: 5000, Score: 5 (Assuming similar to other Luxe/Oberoi offers)
124. Estimated Value: 35000, Score: 10 (Estimating high values for membership & business ticket)
125. Estimated Value: 500, Score: 1 (Highly variable discounts/vouchers)
126. Estimated Value: 10000, Score: 7 (Montblanc vouchers suggest higher value potential)
127. Estimated Value: 250, Score: 1
128. Estimated Value: 10000, Score: 7 (Montblanc & other high-value vouchers suggest higher potential)
129. Estimated Value: 10000, Score: 7 (Estimating a luxury hotel stay)
130. Estimated Value: 500, Score: 1
131. Estimated Value: 4099, Score: 5
132. Estimated Value: 5000, Score: 5 (Estimating combined value, considering flight ticket as primary)
133. Estimated Value: 250, Score: 1
134. Estimated Value: 375, Score: 1 (Assuming 1 Zen Point = ₹0.25, based on previous point values)
135. Estimated Value: 500, Score: 1
136. Estimated Value: 1500, Score: 2
137. Estimated Value: 8500, Score: 7
138. Estimated Value: 125, Score: 1
139. Estimated Value: 500, Score: 1
140. Estimated Value: 250, Score: 1 (Assuming 1 Fuel Point = ₹0.25, similar to reward points)
141. Estimated Value: 750, Score: 1
142. Estimated Value: 3000, Score: 5
143. Estimated Value: 125, Score: 1
144. Estimated Value: 500, Score: 1
145. Estimated Value: 1000, Score: 2
146. Estimated Value: 2500, Score: 4
147. Estimated Value: 5000, Score: 5
148. Estimated Value: 3000, Score: 5
149. Estimated Value: 7000, Score: 6
150. Estimated Value: 500, Score: 1
151. Estimated Value: 1500, Score: 2
152. Estimated Value: 500, Score: 1
153. Estimated Value: 1500, Score: 2
154. Estimated Value: 625, Score: 1
155. Estimated Value: 500, Score: 1
156. Estimated Value: 700, Score: 1
157. Estimated Value: 1000, Score: 2
158. Estimated Value: 1000, Score: 2
159. Estimated Value: 750, Score: 1
160. Estimated Value: 500, Score: 1 (Assuming Edition Cash is similar to other cashback)
161. Estimated Value: 750, Score: 1 (Estimating Zomato Pro membership value)
162. Estimated Value: 500, Score: 1
163. Estimated Value: 500, Score: 1
164. Estimated Value: 1500, Score: 2
165. Estimated Value: 8000, Score: 6 (Estimating combined value including watch & memberships)
166. Estimated Value: 3000, Score: 5
167. Estimated Value: 500, Score: 1
168. Estimated Value: 5000, Score: 5
169. Estimated Value: 500, Score: 1
170. Estimated Value: 1500, Score: 2
171. Estimated Value: 3000, Score: 5
172. Estimated Value: 750, Score: 1 (Assuming 1 KrisFlyer mile = ₹0.25, similar to other miles/points)
173. Estimated Value: 5000, Score: 5
174. Estimated Value: 88, Score: 1
175. Estimated Value: 3000, Score: 5
176. Estimated Value: 3700, Score: 5
177. Estimated Value: 14999, Score: 8
178. Estimated Value: 1250, Score: 2 (Focusing on miles, as tier upgrade requires spending)
179. Estimated Value: 625, Score: 1
180. Estimated Value: 375, Score: 1
181. Estimated Value: 8250, Score: 7
182. Estimated Value: 1500, Score: 2
183. Estimated Value: 500, Score: 1
184. Estimated Value: 1649, Score: 3
185. Estimated Value: 899, Score: 1
186. Estimated Value: 3000, Score: 5
187. Estimated Value: 600, Score: 1
188. Estimated Value: 3100, Score: 5
189. Estimated Value: 625, Score: 1 (Apollo Gold Tier value not clearly defined)
190. Estimated Value: 1500, Score: 2
191. Estimated Value: 250, Score: 1
192. Estimated Value: 10000, Score: 7 (Estimated value of Premium Economy ticket)
193. Estimated Value: 5000, Score: 5 (Estimated value of economy ticket)
194. Estimated Value: 5000, Score: 5 (Assuming 1 Maharaja Point = ₹0.25, similar to other points)
195. Estimated Value: 1250, Score: 2
196. Estimated Value: 1500, Score: 2
197. Estimated Value: 5000, Score: 5
198. Estimated Value: 1500, Score: 2
199. Estimated Value: 0, Score: 1 (No direct monetary value)
200. Estimated Value: 1500, Score: 2
201. Estimated Value: 10000, Score: 7
202. Estimated Value: 250, Score: 1


In [79]:
monetary_values[-1]

''

In [81]:
monetary_values = monetary_values[:-1]

In [82]:
len(monetary_values)

202

In [86]:
print(monetary_values)

['1. Estimated Value: 1000, Score: 2', '2. Estimated Value: 1500, Score: 2', '3. Estimated Value: 2000, Score: 4', '4. Estimated Value: 2500, Score: 4', '5. Estimated Value: 2750, Score: 4', '6. Estimated Value: 60000, Score: 10', '7. Estimated Value: 5000, Score: 5', '8. Estimated Value: 2000, Score: 4', '9. Estimated Value: 250, Score: 1', '10. Estimated Value: 2000, Score: 4', '11. Estimated Value: 600, Score: 1', '12. Estimated Value: 1499, Score: 2', '13. Estimated Value: 250, Score: 1', '14. Estimated Value: 500, Score: 1', '15. Estimated Value: 300, Score: 1', '16. Estimated Value: 125, Score: 1', '17. Estimated Value: 2000, Score: 4', '18. Estimated Value: 625, Score: 1', '19. Estimated Value: 2500, Score: 4', '20. Estimated Value: 1250, Score: 2', '21. Estimated Value: 10625, Score: 7', '22. Estimated Value: 12500, Score: 8', '23. Estimated Value: 12500, Score: 8', '24. Estimated Value: 40000, Score: 10', '25. Estimated Value: 750, Score: 1', '26. Estimated Value: 7500, Score: 6', '27. Estimated Value: 625, Score: 1', '28. Estimated Value: 1250, Score: 2', '29. Estimated Value: 1250, Score: 2', '30. Estimated Value: 2750, Score: 4', '31. Estimated Value: 3125, Score: 5  (Assuming 1 mile = ₹0.25 based on previous conversions)', '32. Estimated Value: 1000, Score: 2 (Estimating combined memberships & coins ~₹800-₹1000)', '33. Estimated Value: 1500, Score: 2', '34. Estimated Value: 4500, Score: 5 (Estimating SpiceClub Gold at ₹500)', '35. Estimated Value: 0, Score: 1', '36. Estimated Value: 125, Score: 1', '37. Estimated Value: 125, Score: 1', '38. Estimated Value: 125, Score: 1', '39. Estimated Value: 2500, Score: 4 (Estimating combined value of memberships)', '40. Estimated Value: 125, Score: 1', '41. Estimated Value: 125, Score: 1', '42. Estimated Value: 17500, Score: 9', '43. Estimated Value: 500, Score: 1', '44. Estimated Value: 1000, Score: 2 (Assuming 1 CashPoint = ₹1)', '45. Estimated Value: 750, Score: 1 (Estimating 3-month Swiggy One at ₹750)', '46. Estimated Value: 2500, Score: 4', '47. Estimated Value: 1499, Score: 2', '48. Estimated Value: 499, Score: 1', '49. Estimated Value: 500, Score: 1', '50. Estimated Value: 700, Score: 1 (Estimating Silver Edge membership at ~₹200)', '51. Estimated Value: 500, Score: 1', '52. Estimated Value: 5000, Score: 5 (Estimating a free night stay at ~₹4000-₹5000)', '53. Estimated Value: 4500, Score: 5 (Estimating combined membership value)', '54. Estimated Value: 5125, Score: 5 (Estimating Club Marriott benefits at ₹2000)', '55. Estimated Value: 1500, Score: 2 (Estimating combined membership value)', '56. Estimated Value: 9000, Score: 7', '57. Estimated Value: 500, Score: 1', '58. Estimated Value: 3000, Score: 5 (Ignoring 6E Prime, as no clear monetary value is provided)', '59. Estimated Value: 500, Score: 1 (Estimating the add-on benefits value)', '60. Estimated Value: 5000, Score: 5 (Estimating combined value of memberships)', '61. Estimated Value: 2250, Score: 4 (Estimating combined value of memberships and vouchers)', '62. Estimated Value: 6750, Score: 6 (Estimating combined value of memberships and vouchers)', '63. Estimated Value: 250, Score: 1', '64. Estimated Value: 625, Score: 1', '65. Estimated Value: 500, Score: 1', '66. Estimated Value: 500, Score: 1 (Estimating wellness package value)', '67. Estimated Value: 625, Score: 1', '68. Estimated Value: 250, Score: 1', '69. Estimated Value: 250, Score: 1', '70. Estimated Value: 750, Score: 1', '71. Estimated Value: 500, Score: 1', '72. Estimated Value: 6000, Score: 6 (Estimating Times Prime at ~₹1000)', '73. Estimated Value: 6000, Score: 6 (Estimating Times Prime at ~₹1000)', '74. Estimated Value: 250, Score: 1', '75. Estimated Value: 2000, Score: 4 (Considering only points as discounts are variable)', '76. Estimated Value: 6250, Score: 6 (Estimating Gold membership benefits at minimal value)', '77. Estimated Value: 625, Score: 1', '78. Estimated Value: 1000, Score: 2', '79. Estimated Value: 4750, Score: 5 (Estimating EazyDiner membership at minimal value)', '80. Estimated Value: 25000, Score: 10 (Conservative estimate for luxury stays)', '81. Estimated Value: 5000, Score: 5', '82. Estimated Value: 2000, Score: 4 (Ignoring Prime as its bundled, focusing on monetary value)', '83. Estimated Value: 725, Score: 1', '84. Estimated Value: 3000, Score: 5', '85. Estimated Value: 9000, Score: 7', '86. Estimated Value: 9500, Score: 7', '87. Estimated Value: 4625, Score: 5 (Estimating memberships at a conservative value)', '88. Estimated Value: 500, Score: 1 (Focusing on points as tier upgrade requires spending)', '89. Estimated Value: 2500, Score: 4', '90. Estimated Value: 2000, Score: 4 (Estimated value of merchandise)', '91. Estimated Value: 10000, Score: 7 (Estimated value, can vary based on model)', '92. Estimated Value: 500, Score: 1', '93. Estimated Value: 2000, Score: 4 (Estimated average value of services)', '94. Estimated Value: 2250, Score: 4', '95. Estimated Value: 625, Score: 1 (Only considering points as discounts are variable)', '96. Estimated Value: 4000, Score: 5 (VISA variant; AMEX would be higher)', '97. Estimated Value: Unknown, Score: 1 (No monetary value provided)', '98. Estimated Value: 75000, Score: 10', '99. Estimated Value: 2000, Score: 4 (Assuming 1 Avios = ₹0.25 as a general estimate)', '100. Estimated Value: 875, Score: 1 (Using same Avios conversion)', '101. Estimated Value: 1500, Score: 2', '102. Estimated Value: 1500, Score: 2', '103. Estimated Value: 2625, Score: 4', '104. Estimated Value: 5250, Score: 5', '105. Estimated Value: 550, Score: 1 (Cashback is up to ₹500, not confirmed)', '106. Estimated Value: 1500, Score: 2', '107. Estimated Value: 1250, Score: 2', '108. Estimated Value: 1500, Score: 2', '109. Estimated Value: 2250, Score: 4 (Estimating memberships at conservative values)', '110. Estimated Value: 15000, Score: 8 (Estimating significant value for flight upgrade/ticket)', '111. Estimated Value: 750, Score: 1 (Estimating EazyDiner benefits conservatively)', '112. Estimated Value: 5500, Score: 5', '113. Estimated Value: 500, Score: 1 (Vouchers have highly variable values, being conservative)', '114. Estimated Value: 5500, Score: 5 (BA variant, QA would be lower. Using general Avios estimate.)', '115. Estimated Value: 1500, Score: 2', '116. Estimated Value: 2500, Score: 4 (Estimating memberships conservatively)', '117. Estimated Value: 500, Score: 1 (Highly variable voucher value, being conservative)', '118. Estimated Value: 750, Score: 1 (Estimating 3-month Zomato Gold value)', '119. Estimated Value: 1000, Score: 2', '120. Estimated Value: 25000, Score: 10', '121. Estimated Value: 5000, Score: 5 (Assuming similar to other Luxe/Oberoi offers)', '122. Estimated Value: 5000, Score: 5', '123. Estimated Value: 5000, Score: 5 (Assuming similar to other Luxe/Oberoi offers)', '124. Estimated Value: 35000, Score: 10 (Estimating high values for membership & business ticket)', '125. Estimated Value: 500, Score: 1 (Highly variable discounts/vouchers)', '126. Estimated Value: 10000, Score: 7 (Montblanc vouchers suggest higher value potential)', '127. Estimated Value: 250, Score: 1', '128. Estimated Value: 10000, Score: 7 (Montblanc & other high-value vouchers suggest higher potential)', '129. Estimated Value: 10000, Score: 7 (Estimating a luxury hotel stay)', '130. Estimated Value: 500, Score: 1', '131. Estimated Value: 4099, Score: 5', '132. Estimated Value: 5000, Score: 5 (Estimating combined value, considering flight ticket as primary)', '133. Estimated Value: 250, Score: 1', '134. Estimated Value: 375, Score: 1 (Assuming 1 Zen Point = ₹0.25, based on previous point values)', '135. Estimated Value: 500, Score: 1', '136. Estimated Value: 1500, Score: 2', '137. Estimated Value: 8500, Score: 7', '138. Estimated Value: 125, Score: 1', '139. Estimated Value: 500, Score: 1', '140. Estimated Value: 250, Score: 1 (Assuming 1 Fuel Point = ₹0.25, similar to reward points)', '141. Estimated Value: 750, Score: 1', '142. Estimated Value: 3000, Score: 5', '143. Estimated Value: 125, Score: 1', '144. Estimated Value: 500, Score: 1', '145. Estimated Value: 1000, Score: 2', '146. Estimated Value: 2500, Score: 4', '147. Estimated Value: 5000, Score: 5', '148. Estimated Value: 3000, Score: 5', '149. Estimated Value: 7000, Score: 6', '150. Estimated Value: 500, Score: 1', '151. Estimated Value: 1500, Score: 2', '152. Estimated Value: 500, Score: 1', '153. Estimated Value: 1500, Score: 2', '154. Estimated Value: 625, Score: 1', '155. Estimated Value: 500, Score: 1', '156. Estimated Value: 700, Score: 1', '157. Estimated Value: 1000, Score: 2', '158. Estimated Value: 1000, Score: 2', '159. Estimated Value: 750, Score: 1', '160. Estimated Value: 500, Score: 1 (Assuming Edition Cash is similar to other cashback)', '161. Estimated Value: 750, Score: 1 (Estimating Zomato Pro membership value)', '162. Estimated Value: 500, Score: 1', '163. Estimated Value: 500, Score: 1', '164. Estimated Value: 1500, Score: 2', '165. Estimated Value: 8000, Score: 6 (Estimating combined value including watch & memberships)', '166. Estimated Value: 3000, Score: 5', '167. Estimated Value: 500, Score: 1', '168. Estimated Value: 5000, Score: 5', '169. Estimated Value: 500, Score: 1', '170. Estimated Value: 1500, Score: 2', '171. Estimated Value: 3000, Score: 5', '172. Estimated Value: 750, Score: 1 (Assuming 1 KrisFlyer mile = ₹0.25, similar to other miles/points)', '173. Estimated Value: 5000, Score: 5', '174. Estimated Value: 88, Score: 1', '175. Estimated Value: 3000, Score: 5', '176. Estimated Value: 3700, Score: 5', '177. Estimated Value: 14999, Score: 8', '178. Estimated Value: 1250, Score: 2 (Focusing on miles, as tier upgrade requires spending)', '179. Estimated Value: 625, Score: 1', '180. Estimated Value: 375, Score: 1', '181. Estimated Value: 8250, Score: 7', '182. Estimated Value: 1500, Score: 2', '183. Estimated Value: 500, Score: 1', '184. Estimated Value: 1649, Score: 3', '185. Estimated Value: 899, Score: 1', '186. Estimated Value: 3000, Score: 5', '187. Estimated Value: 600, Score: 1', '188. Estimated Value: 3100, Score: 5', '189. Estimated Value: 625, Score: 1 (Apollo Gold Tier value not clearly defined)', '190. Estimated Value: 1500, Score: 2', '191. Estimated Value: 250, Score: 1', '192. Estimated Value: 10000, Score: 7 (Estimated value of Premium Economy ticket)', '193. Estimated Value: 5000, Score: 5 (Estimated value of economy ticket)', '194. Estimated Value: 5000, Score: 5 (Assuming 1 Maharaja Point = ₹0.25, similar to other points)', '195. Estimated Value: 1250, Score: 2', '196. Estimated Value: 1500, Score: 2', '197. Estimated Value: 5000, Score: 5', '198. Estimated Value: 1500, Score: 2', '199. Estimated Value: 0, Score: 1 (No direct monetary value)', '200. Estimated Value: 1500, Score: 2', '201. Estimated Value: 10000, Score: 7', '202. Estimated Value: 250, Score: 1']

In [88]:
import re

In [89]:
scores = [int(re.search(r"Score: (\d+)", entry).group(1)) for entry in monetary_values]
print(scores)

[2, 2, 4, 4, 4, 10, 5, 4, 1, 4, 1, 2, 1, 1, 1, 1, 4, 1, 4, 2, 7, 8, 8, 10, 1, 6, 1, 2, 2, 4, 5, 2, 2, 5, 1, 1, 1, 1, 4, 1, 1, 9, 1, 2, 1, 4, 2, 1, 1, 1, 1, 5, 5, 5, 2, 7, 1, 5, 1, 5, 4, 6, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 1, 4, 6, 1, 2, 5, 10, 5, 4, 1, 5, 7, 7, 5, 1, 4, 4, 7, 1, 4, 4, 1, 5, 1, 10, 4, 1, 2, 2, 4, 5, 1, 2, 2, 2, 4, 8, 1, 5, 1, 5, 2, 4, 1, 1, 2, 10, 5, 5, 5, 10, 1, 7, 1, 7, 7, 1, 5, 5, 1, 1, 1, 2, 7, 1, 1, 1, 1, 5, 1, 1, 2, 4, 5, 5, 6, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 6, 5, 1, 5, 1, 2, 5, 1, 5, 1, 5, 5, 8, 2, 1, 1, 7, 2, 1, 3, 1, 5, 1, 5, 1, 2, 1, 7, 5, 5, 2, 2, 5, 2, 1, 2, 7, 1]

In [90]:
len(scores)

202

In [94]:
from collections import Counter
freq = Counter(scores)
print(freq)

Counter({1: 80, 5: 35, 2: 34, 4: 22, 7: 12, 6: 7, 10: 6, 8: 4, 9: 1, 3: 1})

In [95]:
df.loc[df["Welcome Benefits"].notna(), "welcome scores"] = scores
df["welcome scores"] = df["welcome scores"].fillna(0).astype(int)

In [96]:
df.head()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,...,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver,welcome value,welcome scores
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,...,0,0,0,0,0,0,0,150000.0,NaN,2
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,...,0,0,0,0,0,0,0,40000.0,NaN,2
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,...,0,0,0,0,0,0,0,inf,NaN,4
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,...,0,0,0,0,0,0,0,inf,NaN,4
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,...,1,0,0,0,0,0,0,inf,NaN,4

In [97]:
df.tail()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,...,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver,welcome value,welcome scores
267,YES Bank Wellness Plus Credit Card,300000,500000,1499,1499,travel,Reward Points,NaN,YES Bank,0,...,0,0,0,0,0,0,0,inf,NaN,0
268,YES Bank EMI Credit Card,750000,750000,499,499,shopping,Reward Points,NaN,YES Bank,1,...,0,0,0,0,0,0,0,inf,NaN,0
269,YES Prosperity Rewards Credit Card,300000,500000,499,499,shopping,Reward Points,NaN,YES Bank,1,...,0,0,0,0,0,0,0,75000.0,NaN,0
270,YES First Preferred Credit Card,2400000,2400000,999,999,shopping,Reward Points,NaN,YES Bank,1,...,0,0,0,0,0,0,0,inf,NaN,0
271,YES Prosperity Cashback Plus Credit Card,420000,500000,1499,1499,shopping,Reward Points,A cashback of Rs. 250 on spending Rs. 2500 wit...,YES Bank,1,...,0,0,0,0,0,0,0,inf,NaN,1

In [99]:
df.drop(columns=['welcome value'], inplace=True)

In [100]:
df.head()

,Card Name,Minimum Salaried Income,Minimum ITR for Self Employed,Joining Fee,Renewal Fee,Best Suited For,Reward Type,Welcome Benefits,Bank Name,shopping,travel,dining,movies,fuel,food,bill payment,stays,business expenses,annual fee waiver,welcome scores
0,American Express Membership Rewards Credit Card,600000,600000,1000,4500,shopping,Reward Points,"Welcome benefit of 4,000 Bonus Membership RPs ...",American Express,1,0,0,0,0,0,0,0,0,150000.0,2
1,American Express SmartEarn Credit Card,450000,600000,495,495,shopping,Reward Points,"Cashback of ₹500 and 4,000 Referral Bonus Memb...",American Express,1,0,0,0,0,0,0,0,0,40000.0,2
2,American Express Gold Charge Card,600000,600000,1000,4500,travel | shopping,Reward Points,"4,000 Bonus Membership Rewards Points + 4,000 ...",American Express,1,1,0,0,0,0,0,0,0,inf,4
3,American Express Platinum Travel Credit Card,600000,600000,5000,5000,travel | shopping,Reward Points,"10,000 Membership Rewards Points",American Express,1,1,0,0,0,0,0,0,0,inf,4
4,American Express Platinum Reserve Credit Card,1500000,1500000,10000,10000,travel | dining | shopping,Reward Points,"11,000 bonus Membership Rewards Points on a mi...",American Express,1,1,1,0,0,0,0,0,0,inf,4

In [101]:
df['business expenses'].value_counts()

business expenses
0    271
1      1
Name: count, dtype: int64

In [115]:
df['movies'].value_counts()

movies
0    234
1     38
Name: count, dtype: int64

In [114]:
print(df.loc[df['business expenses'] != 0])

                            Card Name  Minimum Salaried Income  \
16  Aditya Birla AU Bank Credit Cards                        0

    Minimum ITR for Self Employed  Joining Fee  Renewal Fee  \
16                              0            0            0

                                   Best Suited For    Reward Type  \
16  travel | dining | shopping | business expenses  Reward Points

             Welcome Benefits Bank Name  shopping  travel  dining  movies  \
16  Up to 1,000 Reward Points   AU Bank         1       1       1       0

    fuel  food  bill payment  stays  business expenses  annual fee waiver  \
16     0     0             0      0                  1                0.0

    welcome scores
16               1

In [117]:
df = df.dropna(subset=['Best Suited For'])

In [118]:
df = df.reset_index(drop=True)

In [119]:
df.shape

(272, 20)

In [134]:
df.to_csv('final.csv')

In [6]:
def calculate_score(df, user_income, is_salaried, user_expenditure):
    df = df.copy()
    income_col = "Minimum Salaried Income" if is_salaried else "Minimum ITR for Self Employed"
    df = df[df[income_col] <= user_income]
    total_expenditure = sum(user_expenditure.values())
    df["Adjusted Annual Fee"] = np.where(df["annual fee waiver"] <= total_expenditure, 0, df["Renewal Fee"])
    category_columns = ["shopping", "travel", "dining", "movies", "fuel", "food", "bill payment", "stays", "business expenses"]
    df["Expenditure Match"] = sum(df[cat] * user_expenditure.get(cat, 0) for cat in category_columns)
    df["Score"] = (
        np.log(df[income_col] + 100000) 
        -  df["Joining Fee"] 
        - df["Adjusted Annual Fee"] 
        + df["welcome scores"]
        + df["Expenditure Match"]
    )
    return df[["Card Name", "Score"]].sort_values(by="Score", ascending=False)

user_income = 300000
is_salaried = True
user_expenditure = {'shopping': 200000, 'travel': 320000, 'dining': 70000}

filtered_df = calculate_score(df, user_income, is_salaried, user_expenditure)
print(filtered_df[:5])

                             Card Name          Score
16   Aditya Birla AU Bank Credit Cards  590012.512925
6              AU Bank LIT Credit Card  590011.512925
161  IndusInd Bank Indulge Credit Card  590009.512925
91          HDFC MoneyBack Credit Card  589513.736701
17               AU Zenith Credit Card  582016.512925